
/*Company Colors
Primary: #FF3800 - Orange
Secondary: #374140 - Gray
Background: FFFCC4 - Beige?
 */

 /*.navbar-default {
   background-color: #FF3800;
 }
 */
 p, div {
     font-family: 'Your Font';
     font-family: 'Merriweather', serif;
 }
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Lato', sans-serif;
 }
.navbar-default {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #FF3800;
    font-family: 'Cabin Condensed', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFF;
    color: #FFF;
}

.header-bg {
  width:100%;
  height:675px;
  background-image: url("../img/main_splash.jpeg");
  background-size:cover;
}

.img-circle .img-responsive .img-center{
  margin: 0 auto;
}
